<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Топ-10 мест в Японии</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'welcome_japan/popular_places.css' %}">
</head>
<body>
    <header>
        <h1>Топ-10 мест в Японии</h1>
    </header>
    <main>
        <div class="container">
            <h2>Места, которые обязательно нужно посетить</h2>
            <ul>
                <li>
                   <a href="{% url 'tokyo' %}" class="link">Токио</a>
                    <p>
                        Столица Японии, известная своими небоскребами, оживленными улицами и традиционными кварталами,
                        такими как Асакуса.
                    </p>
                    {% load static %}
                    <img class="image" src="{% static 'welcome_japan/images/tokyo.jpeg' %}" alt="Tokyo">
                </li>
                <li>
                    <h3>Киото</h3>
                    <p>Культурная столица с множеством исторических храмов, садов и традиционных чайных церемоний.</p>
                </li>
                <li>
                    <h3>Гора Фудзи</h3>
                    <p>Высочайшая вершина Японии, покрытая снегом, и одно из самых известных мест в стране.</p>
                </li>
                <li>
                    <h3>Хиросима</h3>
                    <p>Город, известный своим Мемориалом мира, посвященным событиям Второй мировой войны.</p>
                </li>
                <li>
                    <h3>Окинава</h3>
                    <p>Тропический остров с прекрасными пляжами и уникальной культурой, отличающейся от остальной Японии.</p>
                </li>
                <li>
                    <h3>Нара</h3>
                    <p>Древний город с множеством исторических храмов и парком, где живут свободно гуляющие олени.</p>
                </li>
                <li>
                    <h3>Осака</h3>
                    <p>Крупный город, известный своим замком Осака и деловыми кварталами.</p>
                </li>
                <li>
                    <h3>Хоккайдо</h3>
                    <p>Северный остров, известный своими горнолыжными курортами и природными парками.</p>
                </li>
                <li>
                    <h3>Каназава</h3>
                    <p>Город, известный своими хорошо сохранившимися историческими кварталами и садом Кэнрокуэн.</p>
                </li>
                <li>
                    <h3>Сиракава-го и Гокаяма</h3>
                    <p>Традиционные деревни с домами в стиле гассё, занесенные в список Всемирного наследия ЮНЕСКО.</p>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>