<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Токио</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'welcome_japan/tokyo.css' %}">
</head>
<body>
<header>
    <h1>Токио</h1>
</header>
<main>
    <div class="container">
        <h2>Основная информация</h2>
        <p>Токио — столица Японии и один из крупнейших городов мира. Он известен своим сочетанием современных технологий
            и традиционной культуры. Город является финансовым и политическим центром страны, а также важным
            туристическим направлением.</p>
        <p>Токио предлагает множество достопримечательностей, от исторических храмов до современных небоскребов. Здесь
            вы найдете оживленные торговые районы, такие как Сибуя и Гинза, а также спокойные уголки, такие как парк
            Уэно.</p>

        <h2>Интересные места</h2>
        <div class="image-section">
            <div>
                <p><strong>Храм Сенсодзи</strong>: Один из самых древних храмов в Токио, расположенный в районе Асакуса.
                    Известен своей красивой пагодой и оживленными торговыми улицами вокруг.</p>
                <img src="{% static 'welcome_japan/images/Senso-jiTemple.jpeg' %}" alt="Храм Сенсодзи">
            </div>
            <div>
                <p><strong>Перекресток Сибуя</strong>: Один из самых оживленных перекрестков в мире, известный своими
                    неоновыми огнями и множеством магазинов, кафе и ресторанов.</p>
                <img src="{% static 'welcome_japan/images/tokyo.jpeg' %}" alt="Перекресток Сибуя">
            </div>
            <div>
                <p><strong>Башня Токио Скайтри</strong>: Второе по высоте здание в мире, предлагающее потрясающие виды
                    на город с его смотровых площадок.</p>
                <img src="{% static 'welcome_japan/images/Tokyo Skytree.jpeg' %}" alt="Башня Токио Скайтри">
            </div>
        </div>
    </div>
</main>
</body>
</html>