<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать на сайт о Японии</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'welcome_japan/welcome.css' %}">
</head>
<body>
    <header>
        <h1>Добро пожаловать на сайт о Японии</h1>
    </header>
    <main>
        <div class="container">
            <h2>Исследуйте удивительную культуру и традиции Японии</h2>
            <p>На этом сайте вы найдете информацию о богатой истории Японии, ее уникальной культуре, традициях и современных достижениях. Откройте для себя мир самураев, гейш, дзен-садов и высоких технологий.</p>
            <p>Погрузитесь в красоту японских пейзажей, откройте для себя секреты японской кухни и узнайте больше о жизни в этой удивительной стране.</p>
            <a href="{% url 'about' %}" class="link">Подробнее о Японии</a>
        </div>
    </main>
{#    <footer>#}
{#        <p>&copy; 2025 Сайт о Японии. Все права защищены.</p>#}
{#    </footer>#}
</body>
</html>