body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff6b6b;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    text-align: left;
}

li:nth-child(odd) {
    background: #f9f9f9;
}

.image {;
    width: 250px;
    height: 400px;
}

.link {
    display: block;
    margin: 10px 0;
    color: #ff6b6b;
    text-decoration: none;
    font-size: 19px;
}

.link:hover {
    text-decoration: underline;
}